*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #111315;
}
@import "./styles/header.css";
@import "./styles/library.css";
@import "./styles/today.css";
.App{
  margin-inline: 80px;
}
a{
  color: #6f7378;
  text-decoration: none;
}
@media screen and (max-width:1159px) {
  .today{
   display: block;
  }
  .btn{
    margin-left: 0;
  }
}